/.bundle

/log/*
!/log/.keep
/tmp
config/database.yml
config/deploy.rb
config/secrets.yml
config/environments/production.rb
config/deploy/productionphysio.rb
config/deploy/productionklang.rb
config/deploy/productiondj.rb
config/deploy/productionjo.rb
db/seeds.rb.secret
coverage/*
spec/examples.txt
public/.well-known/acme-challenge/*


vendor/node_modules/*
public/assets/*
public/uploads

