/.bundle

/log/*
!/log/.keep
/tmp
config/database.yml
config/deploy.rb
config/secrets.yml
config/environments/production.rb
config/deploy/productionp.rb
config/deploy/productiond.rb
config/deploy/productionj.rb
db/seeds.rb.secret
coverage/*
spec/examples.txt
public/.well-known/acme-challenge/*


vendor/node_modules/*
public/assets/*


