

- head_content = stylesheet_link_tag('application', media: 'all', 'data-turbolinks-track' => true).html_safe
- head_content += (javascript_include_tag 'application', 'data-turbolinks-track' => true).html_safe
- head_content += csrf_meta_tags&.html_safe
- rendered = @page.render(notice, alert, user_signed_in?)
- rendered = rendered.gsub("<head>", "<head> #{head_content}").html_safe

= raw rendered
