# PostgreSQL. Versions 8.2 and up are supported.
#
# Configure Using Gemfile
# gem 'pg'
#
default: &default
  adapter: postgresql
  username: rails_cms
  encoding: unicode
  pool: 5
  host: localhost
  #port: 5432
  #schema_search_path: myapp,sharedapp,public

development:
  <<: *default
  database: rails_cms
  password: secret42

test:
  <<: *default
  database: rails_cms_test
  password: secret42

production:
  <<: *default
  database: rails_cms_production
  password: <%= ENV['rails_cms_DATABASE_PASSWORD'] %>

# createuser rails_cms -S -d -R -P -e
# CREATE ROLE rails_cms PASSWORD '' NOSUPERUSER CREATEDB NOCREATEROLE INHERIT LOGIN;
