.overviews-page {
  table, td, th {
    border: 1px solid black;
    padding: 5px;
  }
  .cell-big {
    width: 25vw;
  }
  .cell-important {
    background-color: yellow;
    font-weight: bold;
  }
  margin: 3vh;

  .filtered-element {
    background-color: lightgreen;
  }
  .width-100 {
    width: 100%;
  }
  .width-90 {
    width: 90%;
  }
  .width-80 {
    width: 80%;
  }
  .width-70 {
    width: 70%;
  }
}
