.overviews-page {
  table, td, th {
    border: 1px solid black;
    padding: 5px;
  }
  .cell-big {
    width: 25vw;
  }
  .cell-important {
    background-color: yellow;
    font-weight: bold;
  }
  margin: 3vh;

  .filtered-element {
    background-color: lightgreen;
  }
  .width-100 {
    width: 100%;
  }
  .width-90 {
    width: 90%;
  }
  .width-80 {
    width: 80%;
  }
  .width-70 {
    width: 70%;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .content_title {
    display: inline-block;
    min-width:100px;
  }

  input[type="text"] {
    display: inline-block;
    min-width:300px;
  }

  h4 {
    margin-top: 14pt;
    margin-bottom: 1pt;
  }

  .container-border {
    border: 1px solid black;
  }
}
